---
layout: default
lang: es
---

<div class="page-header">
  <h1>
    Claudia McCurdy
    <small><a href="..">View in English</a></small>
  </h1>
</div>
<div class="lead">{% include placeholder.md %}</div>

<ul class="list-inline">
  <li>
    <span class="fa fa-fw fa-suitcase"></span> Currículum
  </li>
  <li><a href="mailto:claudiae713@gmail.com" target="_blank">
    <span class="fa fa-fw fa-envelope"></span> Correo Electrónico
  </a></li>
  <li><a href="http://www.linkedin.com/pub/claudia-mccurdy/54/830/63a" target="_blank">
    <span class="fa fa-fw fa-linkedin-square"></span> LinkedIn
  </a></li>
</ul>

<div class="row">
  <div class="col-sm-6">
    <h2>Musicoterapia</h2>
    {% include placeholder.md %}
  </div>

  <div class="col-sm-6">
    <h2>Intervención temprana</h2>
    {% include placeholder.md %}
  </div>
</div>

<h2>Testimonios</h2>
<blockquote>
  {% include placeholder.md %}
  <footer>Nombre del Cliente Aquí</footer>
</blockquote>

<hr>

<footer>
  <p class="pull-right">Sitio por <a href="http://nicolasmccurdy.github.io" target="_blank">Nicolas McCurdy</a></p>
  <p>&copy; 2014 Claudia McCurdy</p>
</footer>
