---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Claudia McCurdy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </head>

  <body class="container">
    <div class="page-header">
      <h1>Claudia McCurdy</h1>
    </div>
    <div class="lead">{% include placeholder.md %}</div>

    <ul class="list-inline">
      <li>
        <span class="fa fa-fw fa-suitcase"></span> Resume
      </li>
      <li><a href="mailto:claudiae713@gmail.com" target="_blank">
        <span class="fa fa-fw fa-envelope"></span> Email
      </a></li>
      <li><a href="http://www.linkedin.com/pub/claudia-mccurdy/54/830/63a" target="_blank">
        <span class="fa fa-fw fa-linkedin-square"></span> LinkedIn
      </a></li>
    </ul>

    <div class="row">
      <div class="col-sm-6">
        <h2>Music therapy</h2>
        {% include placeholder.md %}
      </div>

      <div class="col-sm-6">
        <h2>Early intervention</h2>
        {% include placeholder.md %}
      </div>
    </div>

    <h2>Testimonials</h2>
    <blockquote>
      {% include placeholder.md %}
      <footer>Client Name Here</footer>
    </blockquote>

    <hr>

    <footer>
      <p class="pull-right">Website by <a href="http://nicolasmccurdy.com/" target="_blank">Nicolas McCurdy</a></p>
      <p>&copy; 2014 Claudia McCurdy</p>
    </footer>
  </body>
</html>
