html {
  --scale: 1.5;
  display: flex;
  justify-content: center;
}

body {
  background: #dddddd;
  font: 20px "PT Serif", serif;
  padding: initial .75em;
  width: calc(1em * pow(var(--scale), 9));
}

nav > * {
  display: block;
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 0;
}

h1 {
  font-size: calc(1em * pow(var(--scale), 3));
}

h2 {
  font-size: calc(1em * pow(var(--scale), 2));
}

h3 {
  font-size: calc(1em * pow(var(--scale), 1));
}

p {
  margin-top: 0;
}

a {
  color: #0074d9;
  text-decoration: none;
}

a:visited {
  color: #b10dc9;
}

img {
  width: calc(100% / var(--scale));
}
