h1, h2, h3, p, blockquote, ul {
  margin: 0;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font: 16px "EB Garamond", serif;
  padding: 9px;
}

main {
  max-width: 640px;
}

nav {
  font-weight: bold;
}

h1 {
  color: #C79A96;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

footer, .subtitle {
  color: #8B8B8B;
}

.subtitle {
  font-weight: bold;
}

a {
  color: blue;
}

a:visited {
  color: purple;
}

img {
  float: right;
  width: 129px;
}

blockquote {
  margin-left: 40px;
}
