html {
  display: flex;
  justify-content: center;
}

body {
  background: #dddddd;
  font: 20px "PT Serif", serif;
  padding: initial .75em;
  width: calc(1.5 * 1.5 * 1.5 * 1.5 * 1.5 * 1.5 * 1.5 * 1.5 * 1.5em);
}

nav > * {
  display: block;
  margin-bottom: 1em;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  margin-bottom: 0;
}

h1 {
  font-size: 3.375em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

p {
  margin-top: 0;
}

a {
  color: #0074d9;
  text-decoration: none;
}

a:visited {
  color: #b10dc9;
}

img {
  width: calc(100% / 1.5);
}

footer {
  display: flex;
  justify-content: space-between;
}

footer:first-child {
  flex: 1;
}
