<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <title>Claudia McCurdy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.trans %}
      <link rel="alternate"
            hreflang="{% if page.lang != 'es' %}es{% else %}en{% endif %}"
            href="{{ page.trans }}">
    {% endif %}

    <!-- css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  </head>

  <body class="container">{{ content }}</body>
</html>
